#cursor {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999999;
    pointer-events: none;
    opacity: 0;
}
#cursor.on {
    opacity: 1;
}

/*=========================================*/
.startPoint{
    width: 108px;
    height: 108px;
    border-radius: 76px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 899998989;
    background: #0a0a0a;
    border: none;
    outline: none;
    cursor: pointer;
}
.startPoint:hover {
    transform: scale(1.2);
    transition: all .6s;
}
.startPoint:hover .re_typo2 {
    opacity: .7;
}

.startPoint .re_image {
    left: 0px;
    top: 0;
    position: absolute;
    border-radius: 76px;
    width: 108px;
    height: 108px;
    overflow: hidden;
}
.startPoint .re_image > img {
    animation: re_image .8s infinite alternate;
}
@keyframes re_image {
    100% {
        transform: scale(1.1);
    }
}
.startPoint .re_typo {
    left: -19px;
    top: -18px;
    position: absolute;
    animation: re_typo 9s linear infinite;
    width: 145px;
    height: 144px;
}
.startPoint .re_typo > div {
    left: 0;
    top: 0;
    position: absolute;
}
.startPoint .re_typo2 {
    opacity: .1;
    transition: all .6s;
}
@keyframes re_typo {
    100% {
        transform: rotate(360deg);
    }
}
.startPoint .re_arrow {
    left: 25px;
    top: 24px;
    position: absolute;
    width: 57px;
    height: 56px;
    overflow: hidden;
}
.startPoint .re_arrow > img {
    transition: all .8s;
    opacity: 0;
}
.startPoint:hover .re_arrow > img {
    opacity: 1;
    transform: rotate(180deg);
}
/*=========================================*/

#section01{
    width: 100vw;
    height: 1610px;
    background-color: #1f1f1f;
}
#section01 .clip {
    width: 100vw;
    height: 1610px;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: inset(43% 10% 55% 10%);
    transition: all 1s;
}
#section01 .clip.on {
    clip-path: inset(0);
}
#section01 .clip .up {
    width: 100vw;
    height: 630px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateY(100px);
    transition: all 1s;
}
#section01 .clip .up.on {
    transform: translateY(0);
}
#section01 .clip .up > div {
    width: 100%;
    height: 630px;
    position: absolute;
    left: 0;
    top: 0;
}
#section01 .clip .green {
    background-color: #12c814;
    z-index: 500;
    transition: all 1s .5s;
}
#section01 .clip .green.on {
    transform: translateY(-100%);
}
#section01 .black {
    background-color: #000;
}

#section01 .gnb1 {
    width: 47px;
    top: 48px;
    left: 57px;
    top: 36px;
    position: absolute;
}
#section01 .gnb1 > img {
    transform: translateY(30%);
    transition: all 1s;
    opacity: 0;
}
#section01 .gnb1.on > img {
    transform: translateY(0);
    opacity: 1;
}

#section01 .gnb2 {
    left: 118px;
    top: 50px;
    position: absolute;
}
#section01 .gnb2 > img {
    transform: translateY(80%);
    transition: all 1s;
    opacity: 0;
}
#section01 .gnb2.on > img {
    transform: translateY(0);
    opacity: 1;
}

#section01 .gnb3 {
    right: 349px;
    top: 49px;
    position: absolute;
}
#section01 .gnb3 > img {
    transform: translateY(80%);
    transition: all 1s;
    opacity: 0;
}
#section01 .gnb3.on > img {
    transform: translateY(0);
    opacity: 1;
}

#section01 .gnb4 {
    right: 257px;
    top: 49px;
    position: absolute;
}
#section01 .gnb4 > img {
    transform: translateY(80%);
    transition: all 1s;
    opacity: 0;
}
#section01 .gnb4.on > img {
    transform: translateY(0);
    opacity: 1;
}

#section01 .gnb5 {
    right: 165px;
    top: 47px;
    position: absolute;
}
#section01 .gnb5 > img {
    transform: translateY(80%);
    transition: all 1s;
    opacity: 0;
}
#section01 .gnb5.on > img {
    transform: translateY(0);
    opacity: 1;
}

#section01 .gnb_menu {
    right: 57px;
    top: 36px;
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 26px;
}
#section01 .gnb_menu:hover {
    transform: scale(1.3);
    transition: all .4s;
}
#section01 .gnb_menu:hover .arrow {
    transform: translateX(74%);
    transition: all .4s;
}

#section01 .light {
    left: -28px;
    top: -28px;
    position: absolute;
}
#section01 .light > img {
    scale: 0%;
    transition: all 1s;
}
#section01 .light.on > img {
    scale: 100%;
}

#section01 .circle {
    width: 48px;
    height: 48px;
    overflow: hidden;
    right: 0px;
    top: 0px;
    position: absolute;
}
#section01 .circle > img {
    scale: 0%;
    transition: all 1s;
}
#section01 .circle.on > img {
    scale: 100%;
}

#section01 .arrow {
    right: 13px;
    top: 19px;
    position: absolute;
}
#section01 .arrow > img {
    transform: translateX(-100%);
    transition: all 1s;
    opacity: 0;
}
#section01 .arrow.on > img {
    transform: translateX(0%);
    opacity: 1;
}

#section01 .title {
    width: 1805px;
    height: 225px;
    left: 57px;
    top: 310px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
#section01 .title > div {
    transform: translateY(150%);
    transition: all 0.8s;
}
#section01 .title > div.on {
    transform: translateY(0);
}
#section01 .title .title2 {transition-delay: .1s;}
#section01 .title .title3 {transition-delay: .2s;}
#section01 .title .title4 {transition-delay: .3s;}
#section01 .title .title5 {transition-delay: .4s;}
#section01 .title .title6 {transition-delay: .5s;}
#section01 .title .title7 {transition-delay: .6s;}


#section01 .mini1 {
    width: 112px;
    height: 91px;
    overflow: hidden;
    left: 57px;
    top: 204px;
    position: absolute;
}
#section01 .mini1 > img {
    transform: translateY(100%);
    transition: all 1s;
}
#section01 .mini1.on > img {
    transform: translateY(0);
}

#section01 .mini2 {
    width: 114px;
    height: 91px;
    overflow: hidden;
    left: 180px;
    top: 204px;
    position: absolute;
}
#section01 .mini2 > img {
    transform: translateY(100%);
    transition: all 1s;
}
#section01 .mini2.on > img {
    transform: translateY(0);
}

#section01 .mini3 {
    width: 132px;
    height: 91px;
    overflow: hidden;
    left: 288px;
    top: 204px;
    position: absolute;
}
#section01 .mini3 > img {
    transform: translateY(100%);
    transition: all 1s;
}
#section01 .mini3.on > img {
    transform: translateY(0);
}

#section01 .mini4 {
    width: 119px;
    height: 91px;
    overflow: hidden;
    left: 423px;
    top: 204px;
    position: absolute;
}
#section01 .mini4 > img {
    transform: translateY(100%);
    transition: all 1s;
}
#section01 .mini4.on > img {
    transform: translateY(0);
}

#section01 .mini5 {
    width: 118px;
    height: 91px;
    overflow: hidden;
    left: 555px;
    top: 204px;
    position: absolute;
}
#section01 .mini5 > img {
    transform: translateY(100%);
    transition: all 1s;
}
#section01 .mini5.on > img {
    transform: translateY(0);
}

#section01 .mini6 {
    width: 67px;
    height: 13px;
    overflow: hidden;
    left: 685px;
    top: 282px;
    position: absolute;
    animation: mini6 .6s linear infinite alternate;
}
#section01 .mini6 > img {
    opacity: 0;
    transition: all 1s;
}
#section01 .mini6.on > img {
    opacity: 1;
}
@keyframes mini6 {
    100% {
        z-index: -1;
    }
}

#section01 .typo1 {
    width: 75px;
    height: 15px;
    left: 1162px;
    top: 279px;
    position: absolute;
}
#section01 .typo1 > img {
    transform: translateY(80%);
    transition: all 1s;
    opacity: 0;
}
#section01 .typo1.on > img {
    transform: translateY(0);
    opacity: 1;
}

#section01 .typo2 {
    width: 116px;
    height: 15px;
    left: 1321px;
    top: 279px;
    position: absolute;
}
#section01 .typo2 > img {
    transform: translateY(80%);
    transition: all 1s;
    opacity: 0;
}
#section01 .typo2.on > img {
    transform: translateY(0);
    opacity: 1;
}

#section01 .typo3 {
    width: 136px;
    height: 15px;
    left: 1522px;
    top: 279px;
    position: absolute;
}
#section01 .typo3 > img {
    transform: translateY(80%);
    transition: all 1s;
    opacity: 0;
}
#section01 .typo3.on > img {
    transform: translateY(0);
    opacity: 1;
}

#section01 .typo4 {
    width: 120px;
    height: 15px;
    left: 1743px;
    top: 279px;
    position: absolute;
}
#section01 .typo4 > img {
    transform: translateY(80%);
    transition: all 1s;
    opacity: 0;
}
#section01 .typo4.on > img {
    transform: translateY(0);
    opacity: 1;
}





#section01 .video {
    width: 100vw;
    height: 980px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(1.3);
    transition: all 1s;
}
#section01 .video.on {
    transform: scale(1);
}


#section03{
    /* height: 3500vh; */
    height: 2000vh;
}
#section03 .trigger-this-03 {
    height: 100%;
}
#section03 .fix-this-03 {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #1f1f1f;
}
#section03 .back_typo {
    left: 133px;
    top: 312px;
    position: absolute;
}
#section03 .section03_1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}
#section03 .section03_2 {
    width: 100vw;
    /* height: 2820px; */
    height: 14558px;
    position: absolute;
    left: 0;
    top: 0;
    perspective: 1000px;
}
#section03 .circle_logo {
    width: 160px;
    height: 160px;
    left: 98px;
    top: 98px;
    position: absolute;
    animation: circle_logo 4s linear infinite;
}
@keyframes circle_logo {
    100%{
        transform: rotate(360deg);
    }
}
#section03 .circle_logo > img {
    opacity: 0;
    transition: all .6s;
}
#section03 .circle_logo.on > img {
    opacity: 1;
}

#section03 .typo1 {
    width: 480px;
    height: 94px;
    overflow: hidden;
    left: 205px;
    top: 426px;
    position: absolute;
}
#section03 .typo1 > img {
    transform: translateY(100%);
    transition: all .6s cubic-bezier(0.42, 0, 0.3, 0.91);
}
#section03 .typo1.on > img {
    transform: translateY(0);
}

#section03 .typo2 {
    width: 426px;
    height: 81px;
    overflow: hidden;
    left: 732px;
    top: 439px;
    position: absolute;
}
#section03 .typo2 > img {
    transform: translateY(100%);
    transition: all .6s cubic-bezier(0.42, 0, 0.3, 0.91);
}
#section03 .typo2.on > img {
    transform: translateY(0);
}

#section03 .typo3 {
    width: 249px;
    height: 79px;
    overflow: hidden;
    left: 202px;
    top: 534px;
    position: absolute;
}
#section03 .typo3 > img {
    transform: translateY(100%);
    transition: all .6s .2s cubic-bezier(0.42, 0, 0.3, 0.91);
}
#section03 .typo3.on > img {
    transform: translateY(0);
}

#section03 .typo4 {
    width: 1090px;
    height: 81px;
    overflow: hidden;
    left: 498px;
    top: 533px;
    position: absolute;
}
#section03 .typo4 > img {
    transform: translateY(100%);
    transition: all .6s .2s cubic-bezier(0.42, 0, 0.3, 0.91);
}
#section03 .typo4.on > img {
    transform: translateY(0);
}

#section03 .typo5 {
    width: 1139px;
    height: 21px;
    overflow: hidden;
    left: 199px;
    top: 658px;
    position: absolute;
}
#section03 .typo5 > img {
    transform: translateY(100%);
    transition: all .6s .4s cubic-bezier(0.42, 0, 0.3, 0.91);
}
#section03 .typo5.on > img {
    transform: translateY(0);
}

#section03 .section03_2 .left_box {
    width: 498px;
    height: 100%;
    /* background-color: dodgerblue; */
    position: absolute;
    left: 411px;
    top: 170px;
    transform: translateX(-510px) translateZ(700px) translateY(5000px);
    opacity: 0;
}
#section03 .section03_2 .left_box > :nth-child(1) {
    margin-bottom: 104px;
}
#section03 .section03_2 .left_box > :nth-child(2) {
    margin-bottom: 103px;
}
#section03 .section03_2 .right_box {
    width: 498px;
    height: 100%;
    position: absolute;
    right: 411px;
    top: 170px;
    /* background-color: orange; */
    transform: translateX(510px) translateZ(700px) translateY(5000px);
    opacity: 0;
}
#section03 .section03_2 .right_box > :nth-child(1) {
    margin-bottom: 107px;
}
#section03 .section03_2 .right_box > :nth-child(2) {
    margin-bottom: 127px;
}








#section03 .section03_3{
    width: 100vw;
    height: 11538px;
    background: url(../img/micro2/micro2_5/background.jpg) no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
}

#section03 .section03_3 .logo {
    left: 899px;
    top: 223px;
    position: absolute;
    animation: logo 4s linear infinite;
}
@keyframes logo {
    100%{
        transform: rotate(360deg);
    }
}
#section03 .section03_3 .logo > img {
    opacity: 0;
    transition: all .6s;
}
#section03 .section03_3 .logo.on > img {
    opacity: 1;
}


#section03 .section03_3 .title1 {
    width: 780px;
    height: 75px;
    overflow: hidden;
    left: 572px;
    top: 395px;
    position: absolute;
}
#section03 .section03_3 .title1 > img {
    transform: translateY(100%);
    transition: all .6s cubic-bezier(0.42, 0, 0.3, 0.91);
}
#section03 .section03_3 .title1.on > img {
    transform: translateY(0);
}

#section03 .section03_3 .title2 {
    width: 1503px;
    height: 64px;
    overflow: hidden;
    left: 210px;
    top: 509px;
    position: absolute;
}
#section03 .section03_3 .title2 > img {
    transform: translateY(100%);
    transition: all .6s .2s cubic-bezier(0.42, 0, 0.3, 0.91);
}
#section03 .section03_3 .title2.on > img {
    transform: translateY(0);
}

#section03 .section03_3 .title3 {
    width: 873px;
    height: 17px;
    overflow: hidden;
    left: 523px;
    top: 610px;
    position: absolute;
}
#section03 .section03_3 .title3 > img {
    transform: translateY(130%);
    transition: all .6s .3s cubic-bezier(0.42, 0, 0.3, 0.91);
}
#section03 .section03_3 .title3.on > img {
    transform: translateY(0);
}

#section03 .section03_3 .title4 {
    width: 520px;
    height: 18px;
    overflow: hidden;
    left: 701px;
    top: 641px;
    position: absolute;
}
#section03 .section03_3 .title4 > img {
    transform: translateY(130%);
    transition: all .6s .4s cubic-bezier(0.42, 0, 0.3, 0.91);
}
#section03 .section03_3 .title4.on > img {
    transform: translateY(0);
}





/* ======================= line_group & point_group ========================*/
#section03 .line_group {
    width: 4px;
    height: 9297px;
    /* background-color: dodgerblue; */
    margin: 0 auto;
    margin-top: 751px;
    position: relative;
}
#section03 .line_group .line {
    position: absolute;
    left: 0;
    top: 0;
}
#section03 .line_group .line > div {
    position: absolute;
    left: 0;
    top: 0;
}
#section03 .line_group .line .after {
    width: 4px;
    height: 400px;
    overflow: hidden;
}
#section03 .point_group .point01 {
    position: absolute;
    left: -15px;
    top: 177px;
}
#section03 .point_group .point02 {
    position: absolute;
    left: -15px;
    top: 1112px;
}
#section03 .point_group .point03 {
    position: absolute;
    left: -15px;
    top: 1854px;
}
#section03 .point_group .point04 {
    position: absolute;
    left: -15px;
    top: 3606px;
}
#section03 .point_group .point05 {
    position: absolute;
    left: -15px;
    top: 4575px;
}
#section03 .point_group .point06 {
    position: absolute;
    left: -15px;
    top: 6213px;
}
#section03 .point_group .point07 {
    position: absolute;
    left: -15px;
    top: 7501px;
}
#section03 .point_group > div > div {
    position: absolute;
    left: 0;
    top: 0;
}
/* 각 point들의 after */
#section03 .point_group > div > div:nth-child(2) {
    left: -13px;
    top: -16px;
    opacity: 0;
    z-index: -1;
}
/* ======================= content_group 및 공통요소 ========================*/
#section03 .contents_group {
    width: 1400px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 928px;
    transform: translateX(-50%);
    /* background-color: rgba(255, 166, 0, 0.347); */
}
#section03 .contents_group > div {
    width: 100%;
    opacity: 0.4;
    position: relative;
    /* background-color: rgba(127, 255, 212, 0.159); */
}
#section03 .contents_group .left_con {
    width: 700px;
    position: absolute;
    left: 0;
    top: 0;
}
#section03 .contents_group .right_con {
    width: 700px;
    position: absolute;
    right: 0;
    top: 0;
}

/* ======================= contents01 =========================*/
#section03 .contents_group .contents01 {
    height: 936px;
}
#section03 .contents01 .left_con .txt_group {
    width: 431px;
    height: 112px;
    position: absolute;
    right: 100px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
#section03 .contents01 .left_con .txt_group .txt1 {
    margin-bottom: 32px;
    width: 213px;
    height: 31px;
}

#section03 .contents01 .left_con .txt_group .txt1 > img {
    transform: translateX(-30%);
    transition: all .3s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents01 .left_con .txt_group .txt1.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents01 .left_con .txt_group .txt2 {
    margin-bottom: 13px;
    width: 431px;
    height: 18px;
}
#section03 .contents01 .left_con .txt_group .txt2 > img {
    transform: translateX(-30%);
    transition: all .3s .1s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents01 .left_con .txt_group .txt2.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents01 .left_con .txt_group .txt3 {
    width: 186px;
    height: 18px;
}
#section03 .contents01 .left_con .txt_group .txt3 > img {
    transform: translateX(-30%);
    transition: all .3s .2s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents01 .left_con .txt_group .txt3.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents01 .right_con .image1 {
    position: absolute;
    left: 100px;
    top: 0;
}

/* ======================= contents02 =========================*/
#section03 .contents_group .contents02 {
    height: 741px;
}
#section03 .contents_group .contents02 .txt_group {
    width: 438px;
    height: 112px;
    position: absolute;
    right: 100px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
#section03 .contents02 .left_con .txt_group .txt1 {
    margin-bottom: 32px;
    width: 218px;
    height: 32px;
    overflow: hidden;
}
#section03 .contents02 .left_con .txt_group .txt1 > img {
    transform: translateX(-30%);
    transition: all .3s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents02 .left_con .txt_group .txt1.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents02 .left_con .txt_group .txt2 {
    margin-bottom: 12px;
    width: 438px;
    height: 18px;
}
#section03 .contents02 .left_con .txt_group .txt2 > img {
    transform: translateX(-30%);
    transition: all .3s .1s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents02 .left_con .txt_group .txt2.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents02 .left_con .txt_group .txt3 {
    width: 329px;
    height: 18px;
}
#section03 .contents02 .left_con .txt_group .txt3 > img {
    transform: translateX(-30%);
    transition: all .3s .2s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents02 .left_con .txt_group .txt3.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents_group .contents02 .image2 {
    position: absolute;
    left: 100px;
    top: 0px;
}

/* ======================= contents03 =========================*/
#section03 .contents_group .contents03 {
    height: 1752px;
}
#section03 .contents_group .contents03 .txt_group {
    width: 312px;
    height: 82px;
    position: absolute;
    right: 100px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
#section03 .contents03 .left_con .txt_group .txt1 {
    margin-bottom: 32px;
    width: 201px;
    height: 32px;
}
#section03 .contents03 .left_con .txt_group .txt1 > img {
    transform: translateX(-30%);
    transition: all .3s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents03 .left_con .txt_group .txt1.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents03 .left_con .txt_group .txt2 {
    width: 312px;
    height: 18px;
}
#section03 .contents03 .left_con .txt_group .txt2 > img {
    transform: translateX(-30%);
    transition: all .3s .1s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents03 .left_con .txt_group .txt2.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents_group .contents03 .image3 {
    position: absolute;
    left: 100px;
    top: 0px;
}

/* ======================= contents04 =========================*/
#section03 .contents_group .contents04 {
    height: 969px;
}
#section03 .contents_group .contents04 .txt_group {
    width: 295px;
    height: 82px;
    position: absolute;
    right: 100px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
#section03 .contents04 .left_con .txt_group .txt1 {
    margin-bottom: 32px;
    width: 215px;
    height: 32px;
}
#section03 .contents04 .left_con .txt_group .txt1 > img {
    transform: translateX(-30%);
    transition: all .3s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents04 .left_con .txt_group .txt1.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents04 .left_con .txt_group .txt2 {
    width: 295px;
    height: 18px;
}
#section03 .contents04 .left_con .txt_group .txt2 > img {
    transform: translateX(-30%);
    transition: all .3s .1s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents04 .left_con .txt_group .txt2.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents_group .contents04 .image4 {
    position: absolute;
    left: 100px;
    top: 0px;
}


/* ======================= contents05 =========================*/
#section03 .contents_group .contents05 {
    height: 1638px;
}
#section03 .contents_group .contents05 .txt_group {
    width: 398px;
    height: 112px;
    position: absolute;
    right: 100px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
#section03 .contents05 .left_con .txt_group .txt1 {
    margin-bottom: 32px;
    width: 215px;
    height: 32px;
}
#section03 .contents05 .left_con .txt_group .txt1 > img {
    transform: translateX(-30%);
    transition: all .3s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents05 .left_con .txt_group .txt1.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents05 .left_con .txt_group .txt2 {
    margin-bottom: 13px;
    width: 397px;
    height: 18px;
}
#section03 .contents05 .left_con .txt_group .txt2 > img {
    transform: translateX(-30%);
    transition: all .3s .1s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents05 .left_con .txt_group .txt2.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents05 .left_con .txt_group .txt3 {
    width: 346px;
    height: 18px;
}
#section03 .contents05 .left_con .txt_group .txt3 > img {
    transform: translateX(-30%);
    transition: all .3s .2s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents05 .left_con .txt_group .txt3.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents_group .contents05 .image5 {
    position: absolute;
    left: 100px;
    top: 0px;
}

/* ======================= contents06 =========================*/
#section03 .contents_group .contents06 {
    height: 1289px;
}
#section03 .contents_group .contents06 .txt_group {
    width: 293px;
    height: 82px;
    position: absolute;
    right: 100px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
#section03 .contents06 .left_con .txt_group .txt1 {
    margin-bottom: 32px;
    width: 215px;
    height: 23px;
}
#section03 .contents06 .left_con .txt_group .txt1 > img {
    transform: translateX(-30%);
    transition: all .3s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents06 .left_con .txt_group .txt1.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents06 .left_con .txt_group .txt2 {
    width: 293px;
    height: 18px;
}
#section03 .contents06 .left_con .txt_group .txt2 > img {
    transform: translateX(-30%);
    transition: all .3s .1s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents06 .left_con .txt_group .txt2.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents_group .contents06 .image6 {
    position: absolute;
    left: 100px;
    top: 0px;
}

/* ======================= contents07 =========================*/
#section03 .contents_group .contents07 {
    height: 1502px;
}
#section03 .contents_group .contents07 .txt_group {
    width: 315px;
    height: 82px;
    position: absolute;
    right: 100px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
#section03 .contents07 .left_con .txt_group .txt1 {
    margin-bottom: 32px;
    width: 214px;
    height: 32px;
}
#section03 .contents07 .left_con .txt_group .txt1 > img {
    transform: translateX(-30%);
    transition: all .3s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents07 .left_con .txt_group .txt1.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents07 .left_con .txt_group .txt2 {
    width: 315px;
    height: 18px;
}
#section03 .contents07 .left_con .txt_group .txt2 > img {
    transform: translateX(-30%);
    transition: all .3s .1s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .contents07 .left_con .txt_group .txt2.on > img {
    transform: translateX(0);
    opacity: 1;
}

#section03 .contents_group .contents07 .image7 {
    position: absolute;
    left: 100px;
    top: 0px;
}











/* ============================================================*/
#section03 .section03_3 .bottom1 {
    width: 992px;
    height: 64px;
    overflow: hidden;
    left: 463px;
    top: 10054px;
    position: absolute;
}
#section03 .section03_3 .bottom1 > img {
    transform: translateY(100%);
    transition: all .6s;
}
#section03 .section03_3 .bottom1.on > img {
    transform: translateY(0);
}

#section03 .section03_3 .bottom2 {
    width: 1330px;
    height: 64px;
    overflow: hidden;
    left: 294px;
    top: 10148px;
    position: absolute;
}
#section03 .section03_3 .bottom2 > img {
    transform: translateY(100%);
    transition: all .6s .2s;
}
#section03 .section03_3 .bottom2.on > img {
    transform: translateY(0);
}

#section03 .section03_3 .bottom_1 {
    width: 744px;
    height: 23px;
    overflow: hidden;
    left: 588px;
    top: 10275px;
    position: absolute;
}
#section03 .section03_3 .bottom_1 > img {
    transform: translateY(120%);
    transition: all .6s .4s;
}
#section03 .section03_3 .bottom_1.on > img {
    transform: translateY(0);
}

#section03 .section03_3 .bottom_2 {
    width: 970px;
    height: 23px;
    overflow: hidden;
    left: 475px;
    top: 10305px;
    position: absolute;
}
#section03 .section03_3 .bottom_2 > img {
    transform: translateY(120%);
    transition: all .6s .6s;
}
#section03 .section03_3 .bottom_2.on > img {
    transform: translateY(0);
}

#section03 .section03_3 .bottom_3 {
    width: 519px;
    height: 24px;
    overflow: hidden;
    left: 701px;
    top: 10335px;
    position: absolute;
}
#section03 .section03_3 .bottom_3 > img {
    transform: translateY(120%);
    transition: all .6s .8s;
}
#section03 .section03_3 .bottom_3.on > img {
    transform: translateY(0);
}


#section03 > a {
    width: 100vw;
    height: 980px;
    left: 0;
    bottom: 0;
    position: absolute;
    display: block;
}
#section03 .last_txt {
    width: 100vw;
    height: 980px;
    left: 0;
    bottom: 0;
    position: absolute;
}

#section03 .section03_3 .last_typo1 {
    width: 531px;
    height: 76px;
    left: 694px;
    bottom: 540px;
    position: absolute;
    animation: last1 .7s linear infinite alternate;
}
#section03 .section03_3 .last_typo1 > img {
    transform: translateY(50%);
    transition: all .6s cubic-bezier(0.42, 0, 0.3, 0.91);
    opacity: 0;
}
#section03 .section03_3 .last_typo1.on > img {
    transform: translateY(0);
    opacity: 1;
}
@keyframes last1 {
    100% {
        opacity: 0;
    }
}

#section03 .section03_3 .last_typo2 {
    width: 1230px;
    height: 81px;
    overflow: hidden;
    left: 343px;
    bottom: 429px;
    position: absolute;
}
#section03 .section03_3 .last_typo2 > img {
    transform: translateY(100%);
    transition: all .6S .2s cubic-bezier(0.42, 0, 0.3, 0.91);
}
#section03 .section03_3 .last_typo2.on > img {
    transform: translateY(0);
}

#section03 .section03_3 .last_bottom {
    left: 30px;
    bottom: 29px;
    position: absolute;
}













